.wrap-images    {
    position: relative;
    padding-top: 56px;
    padding-bottom: 56px;
}

.banner-anafulus  {
    width: 100%;
    padding-top: 56px;
}

.disclaimer         {
    text-align: justify;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #757575;
}