h4          {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 32px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    position:relative;
    z-index:-1;
}

.title-about      {
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: left;
    color: #212121;
    margin-top: 16px;
    position:relative;
    z-index:-1;
}

.content-about  {
    text-align: justify;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #212121;
    margin-top:23px;
    position:relative;
    z-index:-1;
}

#btn-more   {
    font-family: Roboto;
    color: #ffffff;
    padding: 4px 40px 4px 40px;
    border-radius: 2px;
    margin-top:20px;
    position:relative;
    z-index:-1;
}

.section    {
    font-size: 16px;
    text-align: center;
    padding-bottom: 64px;
    position:relative;
    z-index:-1;
}

.desc-section{
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #212121;
    position:relative;
    z-index:-1;
}

.aboutUs {
    font-size: 16px;
    padding-bottom: 64px;
    position:relative;
    z-index:-1;
}

.img-resposive  {
    padding-top: 40px;
    position:relative;
    z-index:-1;
}
