.eclipse1{
    margin: 2px 5px 0px 0px;
    height: 25px;
    width: 25px;
    background-color:#229f89;
    border-radius: 50%;
    display: inline-block;
}

.eclipse2{
    margin: 2px 5px 0px 0px;
    height: 25px;
    width: 25px;
    background-color: #e6ba21;
    border-radius: 50%;
    display: inline-block;
}

.eclipse3{
    margin: 2px 5px 0px 0px;
    height: 25px;
    width: 25px;
    background-color:#f1545a;
    border-radius: 50%;
    display: inline-block;
}

.eclipse4{
    margin: 2px 5px 0px 0px;
    height: 25px;
    width: 25px;
    background-color:#bdbdbd;
    border-radius: 50%;
    display: inline-block;
}

.lineVertical   {
    margin: 0px 0px 0px 11px;
    height: 47px;
    display: inline-block;
    border: solid 1px #707070;
}