/* Font Fredoka One */
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

/* Container footer style */
.footer         {
    font-family: Roboto;
    font-size: 20px;
    background-color: #757575;
    color: #ffffff;
    text-decoration: none;
    position:relative;
}

/* Logo anafulus footer style */
.logo-anafulus   {
    font-family: Fredoka One;
    font-size: 45px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-top: 19px;
}

/* Text & Title footer style */
h5              {
    font-family: Roboto;
    font-size: 20px;
    padding-top: 24px;
}

/* Informations list footer style */
ul              {
    padding-left: 0;
}

li{
    list-style-type: none;
    padding-left: 0;
    line-height: 43px;
}

ul li a         {
    color: #ffffff;
}

/* Information list hover style */
ul li a:hover   {
    color: #ffffff;
}

/* Icon sosial media footer style */
.ico-social     {
    padding-right: 16px;
    padding-bottom: 80px;
}

/* Logo OJK footer style */
.logo-ojk       {
    padding-top: 16px;
    padding-bottom: 20px;
}

/* Text copyright footer style */
.copy           {
    font-family: Roboto;
    text-align: center;
    background-color: #616161;
    color:#ffffff;   
}