@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

.navbar{
    font-family: Roboto;
    background-color: #229f89;
}

.down-list{
    color:black;
}

.down-list:hover{
    color:black;
}

#logo           {
    font-family: Fredoka One;
    font-size: 45px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left:19px;
}

.nav  {
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color:#ffffff;
   
}

.menu:hover{
    opacity: 0.5;
}

#collapse{
    background-color:none;
    border-collapse: collapse;
    border:3px solid #fafafa;          /* added line */
    border-radius:0px
}

#login          {
    font-family: Roboto;
    width: 130px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    padding-top:8px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:16px;
}

#login:hover    {
    color: #229f89;
}

#signup         {
    font-family: Roboto;
    width: 130px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    padding-top:8px;
    margin-right: 24px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:16px;
}

#signup:hover   {
    color: #229f89;
}

.btn-account{
    margin-top: 10px;
    margin-left: 100px;
}

#account-login{
    text-decoration: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff
}

#account-login:hover{
    opacity: 0.5;
}

Button.btn-TKB90 {
    letter-spacing: 1px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    color:#ffffff;
    background-color: #e6ba21;
    border: 0;
    padding-left: 24px;
    padding-right: 24px;
    margin: 8px 24px 8px 0px;
}

Button.btn-TKB90:hover {
    background-color: #fafafa;
    color: #229f89;
}