.card-login     {
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
}

.card-header    {
    text-align: center;
    height: 115px;
    background-image: linear-gradient(to bottom, #74d5c3, #12917a 29%, #2a8070 59%, #216c5e);
    color: #ffffff;
}

.btn-card       {
    text-align: center;
    font-family: Roboto;
    border-radius: 0;
    background-color: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

#btn-login-google{
    color:#ed1c24;
    border-radius: 1px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #ed1c24;
    text-align: left;
}

#btn-login-facebook{
    color:#3a559f;
    border-radius: 1px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #3a559f;
    text-align: left;
}

#label-num-phone{
    background-color:#e6d492;
    width: 150px;
    margin: 0 auto;
}

#change-num     {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #229f89;
    float: right;
    margin-top: 5px;
}

.title-forgotPIN {
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin-top: 5px;
    margin-bottom: 5px;
}


#input-box      {
    background-color: transparent;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
} 

input[type="number"]{
    -moz-appearance: textfield;
}
