.banner-text  {
  margin-top:-500px;
  height: fit-content;
  font-family: Helvetica;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  opacity: 0.62;
  background-color: #212121;
  padding: 20px 20px 20px 20px;
}

.banner-text2 {
  background-color:#000;
  opacity: 0.5; 
  margin-top: -485px;
  padding: 10px 5px 60px 24px;
  height: 250px;
}

.text-banner1{
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.text-banner2{
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

}

.form-apply-pinjaman{
  margin-top: -750px;
  font-family: Roboto;
  letter-spacing: normal;
  color: #212121;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #bdbdbd;
  background-color: #ffffff;
}

.apply-pinjaman-murabahah{
  margin-top:20px;
  width: 376px;
  height: 419px;
  font-family: Roboto;
  letter-spacing: normal;
  color: #212121;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #bdbdbd;
  background-color: #ffffff;
  float: right;
}

.refferal-code{
  margin-top:20px;
  width: 790px;
  height: fit-content;
  padding-bottom: 24px;
  text-align: justify;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fafafa;
}

#btn-apply{
  max-width: 320px;
  min-width: 100px;
  max-height: 40px;
  min-height: 20px;
  border-radius: 0;
  object-fit: contain;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #e6ba21;
  border-color: #e6ba21;
  display: block;
  margin: 0 auto;
}

#btn-ajukan-badan-usaha{
  max-width: 600px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0;
  border-color: #e6ba21;
  background-color: #e6ba21;
  padding: 10px 10px 10px 10px;
  position: relative;
  margin-top: -570px;
}

#Title-Cicilan {
  font-family: Roboto;
  font-size: 15pt;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
}

#Total-Cicilan{
  font-family: Roboto;
  font-size: 15pt;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #229f89;
}

#note-nominal{
  font-family: Roboto;
  max-width: 100%;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #229f89;
}