.card-register{
    text-align: center;
    margin-top: 40px;
}

.card-register-form{
    margin-top: 40px;
}

.card-header{
    height: 110px;
    background-image: linear-gradient(to bottom, #74d5c3, #12917a 29%, #2a8070 59%, #216c5e);
    color: #ffffff;
}

.card-header-form{
    text-align: center;
}

.btn-card        {
    width: 320px;
    height: 40;
    font-family: Roboto;
    background-color: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

#btn-access{
    background-color: #229f89;
    text-decoration: none;
    color: #ffffff;
    border: 0px;
    outline-color: none;
    border-radius: 0px;
}
#btn-cancel{
    background-color: #ed1c24;
    text-decoration: none;
    color: #ffffff;
    border: 0px;
    outline-color: none;
    border-radius: 0px;
}

#btn-login-google{
    color:#ed1c24;
    border-radius: 1px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #ed1c24;
    text-align: left;
}

#btn-login-facebook{
    color:#3a559f;
    border-radius: 1px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #3a559f;
    text-align: left;
}

#num-phone{
    float: left;
}

#input-box{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: left;
}

.input-title{
    margin-top:8px;
}

.input-guide{
    font-size:10pt;
    color:#aca2a2;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
} 

input[type="number"]{
    -moz-appearance: textfield;
}