/* reuse class */

/* Text Color */
.text-green {
    font-family: Roboto;
    font-size: 18px;
    color: #229f89;
}

.text-yellow {
    font-family: Roboto;
    font-size: 18px;
    color: #e6ba21;
}

.text-grey {
    font-family: Roboto;
    font-size: 18px;
    color: #757575;
}

.text-red {
    font-family: Roboto;
    font-size: 18px;
    color:#f1545a;
}

/* button */
Button.btn-green1 {
    height: 40px;
    border-radius: 0 ;
    border-color: #229f89;
    background-color: #229f89;  
    color:#ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

Button.btn-green2 {
    width: 320px;
    height: 40px;
    border-radius: 0 ;
    border-color: #229f89;
    background-color: #229f89;  
    color:#ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

Button.btn-yellow1 {
    border-radius: 0 ;
    border-color: #e6ba21;
    background-color: #e6ba21;  
    color:#ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

Button.btn-yellow2 {
    width: 320px;
    height: 40px;
    border-radius: 0 ;
    border-color: #e6ba21;
    background-color: #e6ba21;  
    color:#ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

Button.btn-yellow3 {
    width: 160px;
    height: 40px;
    border-radius: 0 ;
    border-color: #e6ba21;
    background-color: #e6ba21;  
    color:#ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

Button.btn-red1 {
    width: 210px;
    height: 40px;
    border-radius: 0 ;
    border-color: #f1545a;
    background-color: #f1545a;  
    color:#ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

Button.btn-red2 {
    width: 320px;
    height: 40px;
    border-radius: 0 ;
    border-color: #f1545a;
    background-color: #f1545a;  
    color:#ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

Button.btn-grey1 {
    width: 210px;
    height: 40px;
    border-radius: 0 ;
    border-color: #bdbdbd;
    background-color: #bdbdbd;  
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

Button.btn-grey2 {
    width: 320px;
    height: 40px;
    border-radius: 0 ;
    border-color: #bdbdbd;
    background-color: #bdbdbd;  
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Padding */

.padding-reuse{
    padding: 20px 20px 20px 20px;
}

/* Margin */

.margin-top-reuse {
    margin-top: 10px;
}

.margin-bottom-reuse {
    margin-bottom: 30px;
}
/* reuse id */

/* filter bar */
DropdownToggle.filter{
    background-color: #bdbdbd;
}



