.body-content       {
    margin-top: 24px;
    font-family: Roboto;
    text-align: justify;
}

#title-page{
    font-size: 25pt;
    color: #229f89;
}

.iframe-map{
    border: 0px;
    width: 350px;
    height: 320px; 
}

/* Payment styling */
.payment-choose:hover {
    border: solid 3px;
    border-color: #229f89;
    border-radius:10px;
}

.carousel {
    position:relative;
    z-index:-1;
}