.col-profile-user{
    padding:16px 16px 16px 16px;
    width: 288px;
    height: 900px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #bdbdbd;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-top: -30px;
}

.score-level{
    margin: 0 auto;
    padding: 5px 2px 5px 2px;
    width: 160px;
    border-radius: 15px;
    background-color: #46cbb3;
}

.user-amount{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #229f89;
}

.container{
    margin-top: 36px;
}

.container-wrap1  {
    margin-top: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color:#fafafa;
    text-align: center;
}

.container-wrap2  {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color:#fafafa;
}

Button.btn-choose-installment{
    height: 160px;
    border-radius: 18px;
    border: 0;
}

#btn-murabahah{
    background-image: linear-gradient(to bottom, #95f2e2, #009b80);
    border-radius: 18px;
}

#btn-reguler{
    background-image: linear-gradient(to bottom, #37d1b6, #aed581);
}

#btn-badan-usaha{
    background-image: linear-gradient(to bottom, #fdd835, #aed581);
}

.desc-btn-choose-installment{
    font-size: 10pt;
}

.process-installment-step{
    margin-bottom: 48px;
    text-align: center;
}

.info-installment   {
    text-align: center;
}

.title-dashboard{
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.profile-user-top   {
    text-align: center;
}

Button.btn-withdraw{
    width: 240px;
    height: 48px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #229f89;
    border: 0;
    border-radius: 0;
}
Button.btn-data-complete{
    width: 250px;
    height: 40px;
    margin-top: 40px;
    background-color: #229f89;
    border: 0;
    border-radius: 0;
}

Button.btn-data-withdraw{
    width: 250px;
    height: 40px;
    background-color: #e6ba21;
    margin-top: 40px;
    border: 0;
    border-radius: 0;
}

.dashboard-menu{
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #212121;
    
}

.dashboard-choose{
    padding: 10px 10px 10px 10px;
    
}

.dashboard-menu:hover{
    color: #212121;
}

.dashboard-choose:hover{
    background-color: #f1f1f1;
    color: #212121; 
}

.title-data {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #212121;
}

.data-account{
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #229f89;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}